/* Write your CSS here */
.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Heading {
  color: white;
  font-size: 50px;
  font-family: 'Bree Serif';
  font-weight: 500;
}
